body{
    background-color: aquamarine;
    color: darkred;
}

.Topic{
    color: firebrick;
}

.Interest{
    color: aqua;

}

.InterestTable{
    background-color: azure;
    color: blueviolet;
}

.DislikeTable{
    background-color: cadetblue;
    color: darkgreen;

}

.FamilyTable{

}

.button{
    border: 1px solid black;
    width: 10em;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 10px;
    background: blueviolet;
}
.rotate90{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
